<div class="imagen">
  <img src="../../../assets/img/fondo.jpg">

</div>

<div class="formulario">
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <h2>Formulario</h2>
            <br>
            <input type="email" class="form-control" id="Nombre" placeholder="Escriba su Nombre">
          </div>
          <br>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" id="Apellido" placeholder="Escriba su apellido">
          </div>
          <br>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" id="Email" placeholder="Escriba su correo Electronico">
          </div>
        </div>
        <br>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="telefono" placeholder="Digite su Telefono">
        </div>
        <br>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="Mensaje" placeholder="Escriba su Mensaje">
          </div>
          <br>
        <button type="submit" class="btn btn-success">Send</button>
      </form>
    
    </div>
    
    
    